<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

  </head>
  <body>
    <div class="header">
      <img class= "logo" src= "images/HackerSchoolLogo.svg" />
      <h1>Niceties</h1>
    </div>
    <!-- <h1><%= title %></h1> -->

    <div id="people">
      <ul>
      </ul>

    </div>



  </body>
  <script type="text/javascript">
  // var peeps = ['tom','mary','sonali', 'dave','nick','rachel', 'zach',]
  var peeps = [ 'dave_albert',
  'mary_rose_cook',
  'nick_bergson_shilcock',
  'rachel_vincent',
  'sonali_sridhar',
  'tom_ballinger',
  'zach_allaun' ];

  var obj = document.getElementById('people');

  for (var i=0; i<peeps.length; i++){

    $.ajax({
      type: 'get',
      url: '/v1beta/' +peeps[i],
      contentType: 'application/json'
    }).then(function(data) {
      var li = document.createElement("li");
      li.className = "person";
      // console.log(data.nicetie);

      li.innerHTML = "<p>" + data.name +"</p><p>"+  data.nicetie +"</p>";

      // console.log("Name: ", name);
      // console.log("peeps: ", peeps[i], "i: ", i);
      obj.appendChild(li);

    })
  // }

  // $.ajax({
  //   type: 'get',
  //   url: '/v1beta/' +peeps[i],
  //   contentType: 'application/json'
  // }).then(function(data) {
  //   console.log(data.nicetie);
  // })

}

  </script>
</html>
