body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo{
  max-width: 200px;

}

.header{
  width: 100%;
}

.header h1{
  font-size: 45px;
  display: inline-block;
}
