body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo{
  max-width: 200px;

}

.header{
  width: 100%;
}

.header h1{
  font-size: 45px;
  display: inline-block;
}

.aligntxt{
  text-align: right;
}

ul{
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  align-items: flex-start;

}


li{
  list-style: none;
  flex: auto;
  width: 45%;
  min-width: 300px;
  display: inline-block;
  padding: 20px;

}
